
{% extends "base.html" %}



{% block content %}

<h3>{{ object }}</h3>



<div class='row'>
{% for product in products %}


	<div class='col-xs-4'>
		{% include "products/product_thumbnail.html" with product=product price=True %}
	</div>
	{% cycle '' '' '</div><div class="row">' %}

{% endfor %}

</div>

{% endblock %}