{% comment %} {% load staticfiles %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}eCommerce 2{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}
      </style>
  </head>
  <body>
  {% include 'navbar.html' %}

{% if messages %}

<div class='container'>
<div class='alert alert-success text-center alert-dismissible'>
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
  {% endfor %}
</div>

</div>
{% endif %}

{% block jumbotron %}
          
            {% endblock %}
    <div class="container">
          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->

    {% include "javascript.html" %}
    
    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });

    </script>
    
  </body>
</html>
















